# Dependências
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de sessão do WhatsApp
src/sessions/

# Logs
logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.idea/
.vscode/
*.swp
*.swo
